AccionesInstrumentacionInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="consultarAccionInstrumentacion" targetNamespace="http://AccionesInstrumentacion/consultarAccionInstrumentacion" xmlns:bons1="http://AccionesInstrumentacion" xmlns:tns="http://AccionesInstrumentacion/consultarAccionInstrumentacion" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://AccionesInstrumentacion/consultarAccionInstrumentacion">
      <xsd:import namespace="http://AccionesInstrumentacion" schemaLocation="out_ConsultarAccionInstrumentacion.xsd"/>
      <xsd:import namespace="http://AccionesInstrumentacion" schemaLocation="in_consultarAccionInstrumentacion.xsd"/>
      <xsd:element name="consultarAccionInstrumentacion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="input_consultarAccionInstrumentacion" nillable="true" type="bons1:in_consultarAccionInstrumentacion"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarAccionInstrumentacionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="output_consultarAccionInstrumentacion" nillable="true" type="bons1:out_ConsultarAccionInstrumentacion"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="consultarAccionInstrumentacionRequestMsg">
    <wsdl:part element="tns:consultarAccionInstrumentacion" name="consultarAccionInstrumentacionParameters"/>
  </wsdl:message>
    <wsdl:message name="consultarAccionInstrumentacionResponseMsg">
    <wsdl:part element="tns:consultarAccionInstrumentacionResponse" name="consultarAccionInstrumentacionResult"/>
  </wsdl:message>
    <wsdl:portType name="AccionesInstrumentacionInterface">
    <wsdl:operation name="consultarAccionInstrumentacion">
      <wsdl:input message="tns:consultarAccionInstrumentacionRequestMsg" name="consultarAccionInstrumentacionRequest"/>
      <wsdl:output message="tns:consultarAccionInstrumentacionResponseMsg" name="consultarAccionInstrumentacionResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>