ConsultarInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ConsultarInterface" targetNamespace="http://AccionesInstrumentacion/ConsultarInterface" xmlns:bons1="http://AccionesInstrumentacion" xmlns:tns="http://AccionesInstrumentacion/ConsultarInterface" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://AccionesInstrumentacion/ConsultarInterface">
      <xsd:import namespace="http://AccionesInstrumentacion" schemaLocation="out_consultarObtenerDatosSolicitud.xsd"/>
      <xsd:import namespace="http://AccionesInstrumentacion" schemaLocation="in_consultarObtenerDatosSolicitud.xsd"/>
      <xsd:element name="consultarObtenerDatosSolicitud">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="input_consultarObtenerDatosSolicitud" nillable="true" type="bons1:in_consultarObtenerDatosSolicitud"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="consultarObtenerDatosSolicitudResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="output_consultarObtenerDatosSolicitud" nillable="true" type="bons1:out_consultarObtenerDatosSolicitud"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
    <wsdl:message name="consultarObtenerDatosSolicitudRequestMsg">
    <wsdl:part element="tns:consultarObtenerDatosSolicitud" name="consultarObtenerDatosSolicitudParameters"/>
  </wsdl:message>
    <wsdl:message name="consultarObtenerDatosSolicitudResponseMsg">
    <wsdl:part element="tns:consultarObtenerDatosSolicitudResponse" name="consultarObtenerDatosSolicitudResult"/>
  </wsdl:message>
    <wsdl:portType name="ConsultarInterface">
    <wsdl:operation name="consultarObtenerDatosSolicitud">
      <wsdl:input message="tns:consultarObtenerDatosSolicitudRequestMsg" name="consultarObtenerDatosSolicitudRequest"/>
      <wsdl:output message="tns:consultarObtenerDatosSolicitudResponseMsg" name="consultarObtenerDatosSolicitudResponse"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>