in_consultarAccionInstrumentacion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://AccionesInstrumentacion">
	<xsd:complexType name="in_consultarAccionInstrumentacion">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="id" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="origen"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>