out_consultarObtenerDatosSolicitud.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://AccionesInstrumentacion">
	<xsd:complexType name="out_consultarObtenerDatosSolicitud">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="codigo" type="xsd:int"></xsd:element>
			<xsd:element minOccurs="0" name="body" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>